extends ../layout/admin
block content 
    .d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
        div 
            nav(aria-label="breadcrumb")
                ol.breadcrumb.mb-0.p-0
                    li.breadcrumb-item
                        a(href="/admin/dashboard") Dashboard
                    li.breadcrumb-item.active(aria-current="page") User List

    .row 
        .col-12 
            .card
                .card-header
                    h4.card-title User List
                .card-body 
                    .table-responsive
                        table.table.mb-0
                            thead
                                tr
                                    th User
                                    th Email
                                    th User Type
                                    th Status
                                    th.text-end Action
                            tbody
                                tr
                                    th(scope="row")
                                        .d-flex.align-items-center
                                            span.avatar.avatar-sm.me-2.online.avatar-rounded
                                                img(src="/assets/img/profiles/avatar-01.jpg" alt="img")
                                            | Mark
                                    td
                                        a(href="") emailprotected@gmail.com
                                    td Google
                                    td
                                        span.badge.badge-pill.badge-status.bg-success Active
                                    td.text-end
                                        .d-inline-flex.gap-2.justify-content-end
                                            a.btn.btn-icon.btn-sm.btn-soft-success.rounded-pill(href="javascript:void(0);")
                                                i.ti.ti-eye
                                            a.btn.btn-icon.btn-sm.btn-soft-info.rounded-pill(href="/users/edit-branding")
                                                i.ti.ti-edit
                                            a.btn.btn-icon.btn-sm.btn-soft-danger.rounded-pill(href="javascript:void(0);")
                                                i.ti.ti-trash

                                tr
                                    th(scope="row")
                                        .d-flex.align-items-center
                                            span.avatar.avatar-sm.me-2.online.avatar-rounded
                                                img(src="/assets/img/profiles/avatar-01.jpg" alt="img")
                                            | Mark
                                    td
                                        a(href="") emailprotected@gmail.com
                                    td  Google
                                    td
                                        span.badge.badge-pill.badge-status.bg-danger Inactive
                                    td.text-end
                                        .d-inline-flex.gap-2.justify-content-end
                                            a.btn.btn-icon.btn-sm.btn-soft-success.rounded-pill(href="javascript:void(0);")
                                                i.ti.ti-eye
                                            a.btn.btn-icon.btn-sm.btn-soft-info.rounded-pill(href="javascript:void(0);")
                                                i.ti.ti-edit
                                            a.btn.btn-icon.btn-sm.btn-soft-danger.rounded-pill(href="javascript:void(0);")
                                                i.ti.ti-trash

                                tr
                                    th(scope="row")
                                        .d-flex.align-items-center
                                            span.avatar.avatar-sm.me-2.online.avatar-rounded
                                                img(src="/assets/img/profiles/avatar-01.jpg" alt="img")
                                            | Mark
                                    td
                                        a(href="") emailprotected@gmail.com
                                    td  Google
                                    td
                                        span.badge.badge-pill.badge-status.bg-success Active
                                    td.text-end
                                        .d-inline-flex.gap-2.justify-content-end
                                            a.btn.btn-icon.btn-sm.btn-soft-success.rounded-pill(href="javascript:void(0);")
                                                i.ti.ti-eye
                                            a.btn.btn-icon.btn-sm.btn-soft-info.rounded-pill(href="javascript:void(0);")
                                                i.ti.ti-edit
                                            a.btn.btn-icon.btn-sm.btn-soft-danger.rounded-pill(href="javascript:void(0);")
                                                i.ti.ti-trash
