extends ../../layout/users
block content 
    .d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
        div 
            nav(aria-label="breadcrumb")
                ol.breadcrumb.mb-0.p-0
                    li.breadcrumb-item
                        a(href="/users/dashboard") Dashboard
                    li.breadcrumb-item
                        a(href="/users/branding") Events
                    li.breadcrumb-item.active(aria-current="page") Edit Events 



    .row
        .col-xl-12
            .card
                .card-header
                    h5.card-title Edit Branding
                .card-body
                    .row
                        .col-lg-12
                            .dropzone.custom-drop-zon.mb-3
                                .fallback
                                    input(type="file" name="file", multiple)

                                .dz-message.needsclick
                                    i.ti.ti-cloud-upload.h1.text-muted
                                    h3 Drop files here or click to upload.
                                    span.text-muted.fs-13
                                        | (This is just a demo dropzone. Selected files are 
                                        strong not
                                        |  actually uploaded.)
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") Name
                                input.form-control(type="text" placeholder="Enter Name")
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") Email
                                input.form-control(type="email" placeholder="Enter Email")
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") Contact number
                                input.form-control(type="text" placeholder="Enter Contact number")
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") Website
                                .d-flex
                                    .btn.btn-primary.btn-md.btn-icon.position-relative.me-1
                                        i.ti.ti-unlink
                                    input.form-control(type="text" placeholder="Enter website url") 
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") Facebook
                                .d-flex
                                    .btn.btn-primary.btn-md.btn-icon.position-relative.me-1
                                        i.ti.ti-brand-facebook
                                    input.form-control(type="text" placeholder="Enter facebook url")
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") Instagram
                                .d-flex
                                    .btn.btn-primary.btn-md.btn-icon.position-relative.me-1
                                        i.ti.ti-brand-instagram
                                    input.form-control(type="text" placeholder="Enter instagram url")
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") YouTube
                                .d-flex
                                    .btn.btn-primary.btn-md.btn-icon.position-relative.me-1
                                        i.ti.ti-brand-youtube
                                    input.form-control(type="text" placeholder="Enter youtube url")
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") Linkedin Page 
                                .d-flex
                                    .btn.btn-primary.btn-md.btn-icon.position-relative.me-1
                                        i.ti.ti-brand-linkedin
                                    input.form-control(type="text" placeholder="Enter linkedin url")
                        .col-lg-4
                            .mb-3
                                label.form-label(for="input-label") Twitter 
                                .d-flex
                                    .btn.btn-primary.btn-md.btn-icon.position-relative.me-1
                                        i.ti.ti-brand-x
                                    input.form-control(type="text" placeholder="Enter twitter url")
                        .col-12 
                            .mb-3 
                                .form-check.mb-1
                                    input.form-check-input(type="checkbox" id="MakeDefault")
                                    label.form-check-label.ms-1(for="MakeDefault") Make Default

                        .col-12 
                            .d-flex.align-items-center.justify-content-end
                                a.btn.btn-light.me-2(href="#") Cancel
                                button.btn.btn-primary(type="submit") Create Event