extends ../../layout/event/event-details
block content 
    .d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
        div 
            nav(aria-label="breadcrumb")
                ol.breadcrumb.mb-0.p-0
                    li.breadcrumb-item
                        a(href="/users/event-details") All Photo
                    li.breadcrumb-item
                        a(href="/users/collection") Collection 
                    li.breadcrumb-item.active(aria-current="page") Collection Name


    .card 
        .card-header.card-header.d-flex.align-items-center.justify-content-between.gap-2.flex-wrap
            h5.card-title All Image 
            .d-flex.align-items-center.justify-content-end.gap-2.flex-wrap
                button.btn-icon.btn.btn-outline-light.btn-md
                    i.ti.ti-trash
                button.btn-icon.btn.btn-outline-light.btn-md
                    i.ti.ti-star
                button.btn-icon.btn.btn-outline-light.btn-md
                    i.ti.ti-download
                .dropdown
                    a.dropdown-toggle.btn.btn-outline-light.shadow(
                        href="javascript:void(0);"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    ) All Collection

                    .dropdown-menu.dropdown-menu-end
                        a.dropdown-item(href="tasks.html") All Tasks
                        a.dropdown-item(href="tasks-important.html") Important
                        a.dropdown-item(href="tasks-completed.html") Completed
        .card-body 
            .masonry
                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download
                            input.bank-radio(type="checkbox" name="bank" id="bank1")
                            .bank-box
                                .check-icon
                                img(src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" alt="")

                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download
                            input.bank-radio(type="checkbox" name="bank" id="bank2")
                            .bank-box
                                .check-icon
                                img(src="http://localhost:8080/assets/img/users/user-40.jpg" alt="")

                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download 
                            input.bank-radio(type="checkbox" name="bank" id="bank3")
                            .bank-box
                                .check-icon
                                img(src="https://whatsme.in/assets/img/front-pages/landing-page/API.svg" alt="")

                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download
                            input.bank-radio(type="checkbox" name="bank" id="bank4")
                            .bank-box
                                .check-icon
                                img(src="https://whatsme.in/assets/img/front-pages/landing-page/coding-right.webp" alt="")

                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download
                            input.bank-radio(type="checkbox" name="bank" id="bank5")
                            .bank-box
                                .check-icon
                                img(src="https://whatsme.in/assets/img/front-pages/services-icon/Multi-session-Support.webp" alt="")

                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download
                            input.bank-radio(type="checkbox" name="bank" id="bank6")
                            .bank-box
                                .check-icon
                                img(src="https://whatsme.in/assets/img/front-pages/landing-page/why.svg" alt="")

                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download
                            input.bank-radio(type="checkbox" name="bank" id="bank7")
                            .bank-box
                                .check-icon
                                img(src="https://whatsme.in/assets/img/front-pages/services-icon/api-img-1.webp" alt="")

                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download
                            input.bank-radio(type="checkbox" name="bank" id="bank8")
                            .bank-box
                                .check-icon
                                img(src="https://fotoowl.ai/_next/static/media/sports-men.e53bc9fc.jpg" alt="")

                        .position-relative.item
                            .download 
                                a(href="")
                                    i.ti.ti-download
                            input.bank-radio(type="checkbox" name="bank" id="bank9")
                            .bank-box
                                .check-icon
                                img(src="https://fotoowl.ai/_next/static/media/reelit.caf78a78.png" alt="")
