extends ../../layout/users
block content 
    .d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
        div 
            nav(aria-label="breadcrumb")
                ol.breadcrumb.mb-0.p-0
                    li.breadcrumb-item
                        a(href="/users/dashboard") Dashboard
                    li.breadcrumb-item.active(aria-current="page") Events 



    .d-flex.align-items-center.justify-content-between.flex-wrap.gap-2.mb-3
        // Left side: Filter + Search
        .d-flex.align-items-center.gap-2.flex-wrap 
            // Search input next to dropdown
            .input-icon.input-icon-start.position-relative
                span.input-icon-addon.text-dark
                    i.ti.ti-search
                input.form-control(type="text" placeholder="Search")

        // Right side: View icons + Add button
        .d-flex.align-items-center.gap-2.flex-wrap
            .dropdown
                a.dropdown-toggle.btn.btn-outline-light.px-2.shadow(
                    href="javascript:void(0);",
                    data-bs-toggle="dropdown",
                    aria-expanded="false"
                )  Filter
                .dropdown-menu.dropdown-menu-start( 
                    data-popper-placement="bottom-end"
                )
                    ul
                        li
                            a.dropdown-item(href="javascript:void(0);") 
                                | Export as PDF
                        li
                            a.dropdown-item(href="javascript:void(0);") 
                                | Export as Excel
            a.btn.btn-primary(href="/users/add-event")
                i.ti.ti-square-rounded-plus-filled.me-1
                | Create Event


    .row.mb-4
        .col-md-6.col-lg-4.mb-3
            .card.blog-item.mb-0
                .card-body
                    .blog-img.rounded.position-relative.mb-3
                        a(href="#")
                            img.img-fluid.position-relative.rounded(src="../assets/img/blogs/blog-1.jpg" alt="img")
                        a.btn.btn-xs.btn-info.position-absolute.fs-12.py-0.top-0.start-0.mt-2.ms-2(href="#") Sales Optimization
                    .blog-content
                        .d-flex.align-items-center.justify-content-between.flex-wrap.gap-2.mb-3
                            span
                                i.ti.ti-photo.me-1
                                | 140 Media
                            span
                                i.ti.ti-calendar.me-1
                                | 27 May 2025
                        .mb-3
                            h6.mb-2
                                a(href="/users/event-details") Improve Efficiency for Sales 
                        hr
                        .d-flex.align-items-center.justify-content-start.gap-2
                            a.btn.btn-icon.btn-sm.btn-outline-primary(href="/users/event-details")
                                i.ti.ti-eye
                            a.btn.btn-icon.btn-sm.btn-outline-secondary(href="/users/upload")
                                i.ti.ti-upload
                            a.btn.btn-icon.btn-sm.btn-outline-success(href="/users/share")
                                i.ti.ti-share
                            a.btn.btn-icon.btn-sm.btn-outline-dark(href="/users/setting")
                                i.ti.ti-settings
                            a.btn.btn-icon.btn-sm.btn-outline-danger(href="/users/edit-event")
                                i.ti.ti-trash 


        .col-md-6.col-lg-4.mb-3
            .card.blog-item.mb-0
                .card-body
                    .blog-img.rounded.position-relative.mb-3
                        a(href="#")
                            img.img-fluid.position-relative.rounded(src="../assets/img/blogs/blog-1.jpg" alt="img")
                        a.btn.btn-xs.btn-info.position-absolute.fs-12.py-0.top-0.start-0.mt-2.ms-2(href="#") Sales Optimization
                    .blog-content
                        .d-flex.align-items-center.justify-content-between.flex-wrap.gap-2.mb-3
                            span
                                i.ti.ti-photo.me-1
                                | 140 Media
                            span
                                i.ti.ti-calendar.me-1
                                | 27 May 2025
                        .mb-3
                            h6.mb-2
                                a(href="blog-details.html") Improve Efficiency for Sales 
                        hr
                        .d-flex.align-items-center.justify-content-start.gap-2
                            a.btn.btn-icon.btn-sm.btn-outline-primary(href="/users/edit-event")
                                i.ti.ti-edit
                            a.btn.btn-icon.btn-sm.btn-outline-secondary(href="/users/edit-event")
                                i.ti.ti-upload
                            a.btn.btn-icon.btn-sm.btn-outline-success(href="/users/edit-event")
                                i.ti.ti-share
                            a.btn.btn-icon.btn-sm.btn-outline-dark(href="/users/edit-event")
                                i.ti.ti-settings
                            a.btn.btn-icon.btn-sm.btn-outline-danger(href="/users/edit-event")
                                i.ti.ti-trash 

        

        .col-md-6.col-lg-4.mb-3
            .card.blog-item.mb-0
                .card-body
                    .blog-img.rounded.position-relative.mb-3
                        a(href="#")
                            img.img-fluid.position-relative.rounded(src="../assets/img/blogs/blog-1.jpg" alt="img")
                        a.btn.btn-xs.btn-info.position-absolute.fs-12.py-0.top-0.start-0.mt-2.ms-2(href="#") Sales Optimization
                    .blog-content
                        .d-flex.align-items-center.justify-content-between.flex-wrap.gap-2.mb-3
                            span
                                i.ti.ti-photo.me-1
                                | 140 Media
                            span
                                i.ti.ti-calendar.me-1
                                | 27 May 2025
                        .mb-3
                            h6.mb-2
                                a(href="blog-details.html") Improve Efficiency for Sales 
                        hr
                        .d-flex.align-items-center.justify-content-start.gap-2
                            a.btn.btn-icon.btn-sm.btn-outline-primary(href="/users/edit-event")
                                i.ti.ti-edit
                            a.btn.btn-icon.btn-sm.btn-outline-secondary(href="/users/edit-event")
                                i.ti.ti-upload
                            a.btn.btn-icon.btn-sm.btn-outline-success(href="/users/edit-event")
                                i.ti.ti-share
                            a.btn.btn-icon.btn-sm.btn-outline-dark(href="/users/edit-event")
                                i.ti.ti-settings
                            a.btn.btn-icon.btn-sm.btn-outline-danger(href="/users/edit-event")
                                i.ti.ti-trash 