doctype html
html(lang="en") 
    head
        //- Meta Tags 
        include meta
        //- Favicon
        include fav-icon
        //- Bootstrap CSS
        link(rel="stylesheet" href="../assets/css/bootstrap.min.css")
        //- Daterangepicker CSS
        link(rel="stylesheet" href="../assets/plugins/daterangepicker/daterangepicker.css")
        //- Datatable CSS
        link(rel="stylesheet" href="../assets/plugins/datatables/css/dataTables.bootstrap5.min.css" )
        //- Flatpickr CSS
        link(rel="stylesheet" href="../assets/plugins/flatpickr/flatpickr.min.css" )
        //- Tabler Icon CSS
        link(rel="stylesheet" href="../assets/plugins/tabler-icons/tabler-icons.min.css")
        //- Select2 CSS
        link(rel="stylesheet" href="../assets/plugins/select2/css/select2.min.css")
        //- Simplebar CSS
        link(rel="stylesheet" href="../assets/plugins/simplebar/simplebar.min.css")
        //- Main CSS
        link(rel="stylesheet" href="../assets/css/style.css" id="app-style")
    body 


        .main-wrapper   
                block content   



        //- jQuery
        script(src="../assets/js/jquery-3.7.1.min.js")
        //- Bootstrap Core JS
        script(src="../assets/js/bootstrap.bundle.min.js")
        //- Daterangepicker JS
        script(src="../assets/js/moment.min.js")
        script(src="../assets/plugins/daterangepicker/daterangepicker.js")
        //- Simplebar JS
        script( src="../assets/plugins/simplebar/simplebar.min.js" )
        //- Select2 JS
        script(src="../assets/plugins/select2/js/select2.min.js" )
        //- Flatpickr JS
        script( src="../assets/plugins/flatpickr/flatpickr.min.js"  )
        //- Main JS
        script(src="../assets/js/script.js" )  